.sz{
    height: 400px;
    padding: 1rem;
}

#xx1{
    background-color: rgb(105, 155, 230);
}
#xx2{
    background-color: rgb(21, 4, 83);
}
#xx3{
    background-color: rgb(182, 21, 9);
}